<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="Language">en_US</entry>
    <entry key="Server port"></entry>
    <entry key="Bot token"></entry>
    <entry key="Command prefix"></entry>
    <entry key="Bot owner ID"></entry>
    <entry key="Bot controller role"></entry>
    <entry key="Notification channel ID"></entry>
    <entry key="Link blacklist">false</entry>
    <entry key="Twitch client ID"></entry>
    <entry key="Twitch channels"></entry>
    <entry key="YouTube API key"></entry>
    <entry key="YouTube channels"></entry>
</properties>
